<div class="container row text-center mt-2 pt-5 mb-3">
   <form class="example-form text-center">
      <div class="text-center col-xs-12 col-sm-10 col-lg-12 mb-5 mx-auto" style="font-size: 2.1rem; font-weight: 500">
         STOCK SEARCH
      </div>
      <div class="form-inline col-lg-4 col-auto search-bar-border mx-auto ">
         <!-- <mat-form-field class="example-full-width" floatLabel="never"> -->
         <input type="text" placeholder="Enter stock ticker symbol" matInput [formControl]="myControl"
            [matAutocomplete]="auto" class="example-full-width border-0 text-start"
            style="width: 70%; background-color: #f7f7f7;" [(ngModel)]="inpStockTicker">
         <button class="btn search-button" (click)="searchStock()"><i class="bi bi-search"></i></button>

         <!-- <a type="button" class="p-0" routerLink="/" style="width:2em; height:2em">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="rgb(34, 36, 171)" width="2em;" height="2em" class="bi bi-x"
               viewBox="0 0 16 16">
               <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
         </a> -->
         <a type="button" class="p-0" (click)="clearAndRoute()" style="width:2em; height:2em">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="rgb(34, 36, 171)" width="2em;" height="2em" class="bi bi-x"
               viewBox="0 0 16 16">
               <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
         </a>
      </div>
      <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner [diameter]="25"></mat-spinner>
         </mat-option>
         <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let option of filteredOptions " [value]="option.displaySymbol"
               (click)="searchStockAuto(option.displaySymbol)">
               <span>{{option.displaySymbol}} | </span>
               <span style="font-size: small;"> {{option.description}} </span>
            </mat-option>
         </ng-container>
      </mat-autocomplete>
      <!-- </mat-form-field> -->


   </form>

</div>


<div *ngIf="symbol != 'home'" class="row m-auto container mt-4">
   <mat-progress-spinner class="m-auto " *ngIf="!isDataLoadCompleted" [mode]="'indeterminate'" [diameter]="70">
   </mat-progress-spinner>
</div>

<div *ngIf="isDataLoadCompleted">
   <div class="row container ps-0 pe-0" style="margin: 0 auto;">
      <ngb-alert #selfClosingAlert *ngIf="successMessage" type="{{alertcolor}}" (closed)="successMessage = ''"
         class="text-center">
         {{ successMessage }}
      </ngb-alert>

      <ngb-alert #selfClosingAlert *ngIf="errorMessage" type="danger" (closed)="errorMessage = ''" class="text-center">
         {{ errorMessage }}
      </ngb-alert>

      <ngb-alert #selfClosingAlert *ngIf="watchlistsuccessMessage" type="success"
         (closed)="watchlistsuccessMessage = ''" class="text-center">
         {{ watchlistsuccessMessage }}
      </ngb-alert>

      <ngb-alert #selfClosingAlert *ngIf="watchlisterrorMessage" type="danger" (closed)="watchlisterrorMessage = ''"
         class="text-center">
         {{ watchlisterrorMessage }}
      </ngb-alert>

      <div *ngIf="!errorMessage && issuccessful" class="row ">
         <div class="col-5 text-left pr-0">
            <div class="h1 mb-0">{{description.ticker}}
               <!-- <button class="btn" style="padding: 0;" *ngIf="!iswatchlisted" (click)="addtowatchlist()">
                  <i class="bi bi-star"></i>
               </button> -->
               <a type="button" class="btn p-0" style="vertical-align: super;" *ngIf="!iswatchlisted"
                  (click)="addtowatchlist()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor"
                     class="bi bi-star fav" viewBox="0 0 16 16">
                     <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
               </a>
               <a type="button" class="btn p-0" style="vertical-align: super;" *ngIf="iswatchlisted"
                  (click)="removefromwatchlist()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="#ffd700"
                     class="bi bi-star-fill fav" viewBox="0 0 16 16">
                     <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
               </a>
               <!-- <button class="btn" style="padding: 0;" *ngIf="iswatchlisted" (click)="removefromwatchlist()">
                  <i class="bi bi-star-fill" style="color: gold;"></i>
               </button> -->
            </div>
            <div class="text-muted h3">{{description.name}}</div>
            <div class="mb-2"> {{description.exchange}} </div>
            <button type="button" class="btn btn-success"
               (click)="buyStock(description.ticker, description.name,'buy')">
               Buy
            </button>
            <button type="button" class="btn btn-danger ms-2" *ngIf="isSellEnabled"
               (click)="buyStock(description.ticker, description.name,'sell')">
               Sell
            </button>

         </div>
         <div class="col-2 text-center mobile-logo">
            <img src="{{description.logo}}" style="margin: 0 auto;">
         </div>
         <div class="col-5 text-end pl-0">
            <div class="h1 mb-0" [ngClass]="{ 'positive' : prices.dp > 0, 'negative' : prices.dp < 0}">
               {{prices.c.toFixed(2)}}
            </div>
            <div class="h3" [ngClass]="{ 'positive' : prices.dp > 0, 'negative' : prices.dp < 0}">
               <i class="bi bi-caret-up-fill" style="color:green" *ngIf="prices.dp > 0"></i>
               <i class="bi bi-caret-down-fill" style="color:red" *ngIf="prices.dp < 0"></i>
               {{prices.d.toFixed(2)}} ({{prices.dp.toFixed(2)}}%)
            </div>
            <div> {{currentimestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }} </div>
         </div>
         <div class="text-center mt-3 mb-4">
            <div *ngIf="isMarketOpen" style="color: green;">
               <b>Market is Open</b>
            </div>
            <div *ngIf="!isMarketOpen" style="color: red;">
               <b>Market Closed on {{prices.t * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</b>
            </div>
         </div>
      </div>
   </div>
</div>

<mat-tab-group mat-align-tabs="center" class="m-auto container"
   *ngIf="isDataLoadCompleted && !errorMessage && issuccessful">

   <mat-tab label="Summary">
      <div class="row mt-4">
         <div class="col-lg-6 mx-0 row">
            <div class="col-lg-6 mx-0 mb-3 ">
               <div class="text-left mx-auto mt-3 ">
                  <table class="mx-auto">
                     <tr>
                        <td><b>High Price:</b></td>
                        <td>{{prices.h.toFixed(2)}}</td>
                     </tr>
                     <tr>
                        <td><b>Low Price:</b></td>
                        <td>{{prices.l.toFixed(2)}}</td>
                     </tr>
                     <tr>
                        <td><b>Open Price:</b></td>
                        <td>{{prices.o.toFixed(2)}}</td>
                     </tr>
                     <tr>
                        <td><b>Prev. Close:</b></td>
                        <td>{{prices.pc.toFixed(2)}}</td>
                     </tr>
                  </table>
                  <!-- <div><b>High Price:</b> {{prices.h }}</div>
                  <div><b>Low Price:</b> {{prices.l}}</div>
                  <div><b>Open Price:</b> {{prices.o}}</div>
                  <div><b>Prev. Close:</b> {{prices.pc}}</div> -->
               </div>
            </div>

            <!-- <br>
            <br> -->

            <div class="col-12 h5 text-center"><b><u>About the Company</u></b></div>

            <div class="col-12 text-left">
               <div class=" mb-2"><b>IPO Start Date: </b> {{description.ipo}}</div>
               <div class=" mb-2"><b>Industry:</b> {{description.finnhubIndustry}}</div>
               <div class=" mb-2"><b>Webpage: </b> <a href="{{description.weburl}}"
                     target="_blank">{{description.weburl}}</a></div>
               <div class=" mb-2"><b>Company Peers:</b> </div>
               <div class=" mb-2">
                  <span *ngFor="let peer of peers">
                     <a routerLink="/search/{{peer}}" style="text-decoration: none;"> {{peer}}</a>,
                  </span>
               </div>

            </div>
         </div>
         <div class="col-lg-6">
            <div *ngIf="chartData?.length > 0" class="container mx-auto">
               <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                  style="width: 100%; display: block; overflow: hidden;">
               </highcharts-chart>
            </div>
         </div>
      </div>
   </mat-tab>
   <mat-tab label="Top News">
      <!-- <div class="row card-deck">
            <div class="card">
              <img class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div> -->

      <div class="row" style=" display: flex; flex-wrap: wrap;">
         <app-newscard *ngFor="let n of news" class="mt-4 col-xs-12 col-sm-12 col-lg-6" [news]="n"></app-newscard>
      </div>

   </mat-tab>



   <mat-tab label="Charts">
      <app-sma-highchart [smaVolumeChartOptions]="smaVolumeChartOptions"></app-sma-highchart>
   </mat-tab>

   <mat-tab label="Insights">
      <div class="container-fluid">
         <div class="justify-content-center row ">
            <div class="col-lg-6">
               <div class="my-3 text-center h4 ">
                  Social Sentiments
               </div>
               <table class="table mb-4 text-center">
                  <thead>
                     <tr class="table-secondary mb-1">
                        <th scope="col"> {{description.name}} </th>
                        <th scope="col"> Reddit </th>
                        <th scope="col"> Twitter </th>
                     </tr>
                     <tr>
                        <th scope="row" class="table-secondary"> Total Mentions </th>
                        <td> {{reddittotal}} </td>
                        <td> {{twittertotal}} </td>
                     </tr>
                     <tr>
                        <th scope="row" class="table-secondary"> Positive Mentions </th>
                        <td> {{redditpos}} </td>
                        <td> {{twitterpos}} </td>
                     </tr>
                     <tr>
                        <th scope="row" class="table-secondary"> Negative Mentions </th>
                        <td> {{redditneg}} </td>
                        <td> {{twitterneg}} </td>
                     </tr>
                  </thead>
               </table>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-6">
            <app-recommendation-highchart [recommendationchart]="recommendationchart"></app-recommendation-highchart>
         </div>

         <div class="col-lg-6">
            <app-historic-highchart [historic_chart]="historic_chart"></app-historic-highchart>
         </div>
      </div>
   </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>