<div class="card bg-grey h-100 align-items-center align-content-center align-items-stretch pr-0" (click)="openModal(news)">
    <div class="card-body align-items-center">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-3 v-center pr-md-0"><img class="card-img w-100 m-auto" src="{{news.image}}" alt="Card image"></div>
        <div class="col-sm-12 col-md-9 pr-md-0">
          <div class="card-title text-left"><p>{{news.headline}}</p></div>
        </div>
      </div>
    </div>
  </div>